
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-display: swap;
  /* permet  de mettre une typo attente */

  color: #444;
  background-color: #F0F0F0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;

} @media screen and (min-width: 720px) {
  body {
    grid-template-columns: 1fr 5fr;
  }
  main {
    padding: 5rem;
    position: relative;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #fff;

  &__brand a {
    font-size: 3.6rem;
    font-weight: bold;
    color: #000;
    text-decoration: none;
  }
} @media screen and (min-width: 720px) {
  .navbar {
    display: none;
  }
}

.user-nav {
  height: 100%;
  display: flex;
  align-items: center;

    &__navigation {
      display: none;
    }

    &__icon {
      width: 3.5rem;
      height: 3.5rem;
    }

    &--desktop {
      display: none;
    }

} @media screen and (min-width: 720px) {
  .user-nav {
    &--desktop {
      display: block;
      margin-left: 3rem;
    }

    &__icon {
      width: 5.2rem;
      height: 5.2rem;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
      border-radius: 50% 50%;
    }

  }
}

.sidebar {
  display: none;
  background: #fff;
  padding: 3rem 5rem 3rem 3rem;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 8px 8px;

  &__brand a {
    font-size: 3.6rem;
    font-weight: bold;
    color: #000;
    text-decoration: none;
  }

  &__group {
    margin-top: 4rem;
    list-style: none;
    padding: 0;
    font-size: 2rem;
    font-weight: bold;
    color: #000;

    li:first-child {
      margin-top: 1rem;
    }
  }

  &__link {
    display: block;
    margin-top: 1rem;

    font-size: 1.4rem;
    color: #333;
    text-decoration: none;
    font-weight: normal;
  }

} @media screen and (min-width: 720px) {
  .sidebar {display: block; }
}

.search-bar {
  width: 100%;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    margin-top: 3rem;
    padding: 0.8rem 1.5rem;
    width: 100%;
  }

  &__input {
    padding: 1rem;
    color: #888;
    border: none;
    border-radius: .8rem;
    width: 80%;
  }

  .icon {
    width: 2.5rem;
    height: 2.5rem;
  }
} @media screen and (min-width: 720px) {
  .search-bar {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__content {
      margin-top: 0;
      border-radius: 6.4rem;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    }
    
  }
}

.app-content {
  margin-top: 3rem;
}

.app-block {
  padding: 3rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 3rem;

  &__header {
    margin-bottom: 3rem;
  }

  &__title {
    margin: 0;
    font-weight: bold;
    font-size: 3.2rem;
    color: #000;
  }

  &__subtitle {
    font-size: 1.6rem;
    color: #777;
  }

  &__content {
    display: flex;
    column-gap: 3rem;
    align-items: top;
    flex-wrap: wrap;
  }
}

.track {
  &__header {
    position: relative;
    width: 10rem;
    height: 10rem;

    &:hover {
      .track__overlay {
        background: rgba(0, 0, 0, 0.5);
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__overlay {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
  }

  &__body {
    margin-top: 1rem;
    overflow-wrap: wrap;
  }

  &__title {
    font-size: 1.6rem;
    font-weight: bold;
    color: #000;
    overflow: wrap;
    margin: 0;
  }

  &__author {
    font-size: 1.3rem;
    color: #555;
    text-decoration: none;
  }

}

.bot-bar {
  position: fixed;
  bottom: 0;
  padding: 3rem;

  &--mobile {
    display: block;
  }

  &--desktop {
    display: none;
  }

} @media screen and (min-width: 720px) {
  .bot-bar {
    position: fixed;
    bottom: 0;
    right: 0;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.25);
    z-index: 1;

    &__track-name {
      font-size: 1.6rem;
    }

    &__control-btn {
      width: 3rem;
      height: 3rem;
    }

    &__player {

    }

    &__control-btn {

    }

    &__menu {

    }

    &__link {

    }

    &__menu-icon {

    }

    &__link span {

    }

    &--mobile {
      display: none;
    }

    &--desktop {
      display: flex;
      justify-content: center;
      padding: 2rem;
      background: #fff;
      width: 100%;
    }

  }
}
