
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-display: swap;
  /* permet  de mettre une typo attente */

  color: #444;
  background-color: #F0F0F0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;

} @media screen and (min-width: 700px) {
  body {
    grid-template-columns: 1fr 5fr;
  }
  main {
    padding: 5rem;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #fff;

  &__brand a {
    font-size: 3.6rem;
    font-weight: bold;
    color: #000;
    text-decoration: none;
  }
} @media screen and (min-width: 700px) {
  .navbar {
    display: none;
  }
}

.user-nav {
  height: 100%;
  display: flex;
  align-items: center;

    &__navigation {
      display: none;
    }

    &__icon {
      width: 3.5rem;
      height: 3.5rem;
    }

    &--desktop {
      display: none;
    }

} @media screen and (min-width: 700px) {
  .user-nav {
    &--desktop {
      display: block;
      margin-left: 3rem;
    }

    &__icon {
      width: 5.2rem;
      height: 5.2rem;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
      border-radius: 50% 50%;
    }

  }
}

.sidebar {
  display: none;
  background: #fff;
  padding: 3rem 5rem 3rem 3rem;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 8px 8px;

  &__brand a {
    font-size: 3.6rem;
    font-weight: bold;
    color: #000;
    text-decoration: none;
  }

  &__group {
    margin-top: 4rem;
    list-style: none;
    padding: 0;
    font-size: 2rem;
    font-weight: bold;
    color: #000;

    li:first-child {
      margin-top: 1rem;
    }
  }

  &__link {
    display: block;
    margin-top: 1rem;

    font-size: 1.4rem;
    color: #333;
    text-decoration: none;
    font-weight: normal;
  }

} @media screen and (min-width: 700px) {
  .sidebar {display: block; }
}

.search-bar {
  width: 100%;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    margin-top: 3rem;
    padding: 0.8rem 1.5rem;
    width: 100%;
  }

  &__input {
    padding: 1rem;
    color: #888;
    border: none;
    border-radius: .8rem;
    width: 80%;
  }

  .icon {
    width: 2.5rem;
    height: 2.5rem;
  }
} @media screen and (min-width: 700px) {
  .search-bar {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__content {
      margin-top: 0;
      border-radius: 6.4rem;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    }
    
  }
}

.app-content {
  margin-top: 3rem;
}

.app-block {
  padding: 3rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}