@import url(https://fonts.googleapis.com/css?family=Nunito);.transition-left {
  transition: 0.4s;
  transform: translateX(0);
}

html.is-animating .transition-left {
  transform: translateX(-80vw);
}

body {
  padding-bottom: 5rem;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-display: swap;
  /* permet  de mettre une typo attente */
  color: #444;
  background-color: #F0F0F0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 720px) {
  body {
    grid-template-columns: 1fr 5fr;
  }

  main {
    padding: 5rem;
    padding-top: 0;
    position: relative;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #fff;
}

.navbar__brand a {
  font-size: 3.6rem;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

@media screen and (min-width: 720px) {
  .navbar {
    display: none;
  }
}

.user-nav {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.user-nav__navigation {
  display: none;
  position: absolute;
  bottom: -6.5rem;
  right: 0.5rem;
  list-style: none;
  padding: none;
  text-align: right;
}

.user-nav__navigation--show {
  display: block;
}

.user-nav li {
  margin-top: 1.5rem;
}

.user-nav__link {
  background: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  padding: 0.5rem 1rem;
  padding-left: 1.5rem;
  font-size: 1.2rem;
  border-radius: 8px;
  color: #000;
  text-decoration: none;
  text-align: right;
  float: right;
  margin-top: 0.5rem;
}

.user-nav__icon {
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
}

.user-nav--desktop {
  display: none;
}

@media screen and (min-width: 720px) {
  .user-nav--desktop {
    display: block;
    margin-left: 3rem;
  }

  .user-nav__icon {
    width: 5.2rem;
    height: 5.2rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50% 50%;
  }
}

.sidebar {
  display: none;
  background: #fff;
  padding: 3rem 5rem 3rem 3rem;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 8px 8px;
  min-height: 100vh;
  min-width: 20rem;
  z-index: 1;
}

.sidebar__container {
  position: fixed;
}

.sidebar__brand a {
  font-size: 3.6rem;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.sidebar__group {
  margin-top: 4rem;
  list-style: none;
  padding: 0;
  font-size: 2rem;
  font-weight: bold;
  color: #000;
}

.sidebar__group li:first-child {
  margin-top: 1rem;
}

.sidebar__link {
  display: block;
  margin-top: 1rem;
  font-size: 1.4rem;
  color: #333;
  text-decoration: none;
  font-weight: normal;
}

@media screen and (min-width: 720px) {
  .sidebar {
    display: block;
  }
}

.search-bar__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  margin-top: 3rem;
  padding: 0.8rem 1.5rem;
  width: 100%;
}

.search-bar__input {
  padding: 1rem;
  color: #888;
  border: none;
  border-radius: 0.8rem;
  width: 80%;
}

.search-bar .icon {
  width: 2.5rem;
  height: 2.5rem;
}

@media screen and (min-width: 720px) {
  .search-bar {
    margin: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .search-bar__content {
    margin-top: 0;
    border-radius: 6.4rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  }
}

.app-content {
  margin-top: 3rem;
}

.app-block {
  padding: 3rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(100, 68, 68, 0.25);
  margin-bottom: 3rem;
}

.app-block__header {
  margin-bottom: 3rem;
}

.app-block__title {
  margin: 0;
  font-weight: bold;
  font-size: 3.2rem;
  color: #000;
}

.app-block__subtitle {
  font-size: 1.6rem;
  color: #777;
}

.app-block__content {
  display: flex;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  align-items: top;
  flex-wrap: wrap;
}

.app-block__playlist-name {
  font-size: 2rem;
  margin: 1rem 0;
  color: #333;
}

.track {
  margin-bottom: 2rem;
}

.track__header {
  position: relative;
  width: 10rem;
  height: 10rem;
  border-radius: 8px;
}

.track__header:hover .track__overlay {
  background: rgba(0, 0, 0, 0.5);
}

.track__header:hover .track__like {
  visibility: visible;
}

.track__img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.track__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 8px;
}

.track__like {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
  bottom: 0.4rem;
  right: 0.5rem;
  left: 0.5rem;
  z-index: 99;
  visibility: hidden;
  cursor: pointer;
}

.track__like-count {
  font-size: 2.2rem;
  color: #fff;
}

.track__like-icon {
  margin-left: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
}

.track__body {
  margin-top: 1rem;
  overflow-wrap: wrap;
}

.track__title {
  font-size: 1.6rem;
  font-weight: bold;
  color: #000;
  overflow: wrap;
  margin: 0;
}

.track__author {
  font-size: 1.3rem;
  color: #555;
  text-decoration: none;
}

.bot-bar {
  position: fixed;
  bottom: 0;
  right: 0;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.25);
  z-index: 1;
  display: flex;
  justify-content: center;
  padding: 2rem;
  background: #fff;
  width: 100%;
}

.bot-bar__track-name {
  font-size: 1.6rem;
}

.bot-bar__control-btn {
  width: 3rem;
  height: 3rem;
}

.bot-bar--mobile {
  display: none;
}

.audio-player {
  width: 100%;
}

.player-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-controls__btn {
  background: none;
  border: none;
  cursor: pointer;
}

.player-controls__playlist-btn img {
  position: relative;
  top: 3px;
  width: 35px;
  height: 35px;
}

.player-controls__btn-icon {
  width: 40px;
  height: 40px;
}

.playlist-controls {
  position: relative;
}

.playlist-controls__menu {
  display: none;
  position: absolute;
  bottom: 5rem;
  background: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  padding: 2rem;
  border-radius: 8px;
  font-size: 1.4rem;
}

.playlist-controls__menu--show {
  display: block;
}

.playlist-controls__title {
  margin-bottom: 0.5rem;
}

.playlist-controls__label {
  display: block;
  margin-bottom: 0.5rem;
}

.playlist-controls__input {
  padding: 0.8rem 1rem;
  border-radius: 4px;
  border: 1px solid #aaa;
}

.playlist-controls__pl-name {
  display: block;
  padding: 0.8rem 1rem;
  border: 1px solid #aaa;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: #000;
}

.playlist-controls__pl-name:hover {
  background: #000;
  color: #fff;
}

.playlist-controls__btn {
  background: none;
  border-radius: 4px;
  border: none;
  margin-top: 1rem;
  padding: 0;
  font-size: 1.2rem;
  cursor: pointer;
}

.user-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 3rem;
}

.user-stats__info {
  display: flex;
  align-items: center;
}

.user-stats__img-container {
  border-radius: 50% 50%;
  width: 5rem;
}

.user-stats__img {
  width: 100%;
  height: 100%;
}

.user-stats__name {
  margin-left: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.user-stats__follow-btn {
  display: block;
  background: #ddd;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  text-decoration: none;
  color: #000;
  border-radius: 4px;
  font-size: 1.4rem;
}

.user-stats__stats {
  display: flex;
  flex: 1 1 0px;
  justify-content: flex-end;
  margin-left: 3rem;
}

.user-stats__stats > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
}

.user-stats__number {
  font-size: 2.5rem;
  font-weight: bold;
}

.user-stats__stat {
  font-size: 1.5rem;
}

@media screen and (max-width: 1100px) {
  .user-stats {
    flex-direction: column;
    align-items: space-between;
  }

  .user-stats__stats {
    margin-top: 3rem;
    margin-left: 0;
  }
}

.form__row {
  margin-bottom: 1rem;
}

.form__label {
  display: block;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.form__input {
  padding: 1rem 1.3rem;
  width: 100%;
}

.form__check-label {
  display: inline-block;
}

.form__btn {
  background: none;
  border: 1px solid #444;
  color: #444;
  border-radius: 2px;
  padding: 0.8rem 1.6rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.form__btn:hover {
  color: #fff;
  background: #000;
}

.form__link {
  color: #000;
  text-decoration: none;
  font-size: 1.4rem;
}

.form__label-file {
  font-size: 1.4rem;
  display: block;
  margin-bottom: 0.5rem;
}

.form__input-file {
  display: none;
}

.form__file {
  display: block;
  font-size: 1.2rem;
  cursor: pointer;
  border: 1px solid #999;
  border-radius: 2px;
  padding: 1rem 1.6rem;
  color: #999;
}

.login-form .form__btn {
  display: inline-block;
  margin-right: 1rem;
}

.user__header {
  width: 10rem;
  height: 10rem;
}

.user__img {
  width: 100%;
  height: 100%;
}

.user__body {
  margin-top: 1rem;
  text-align: center;
}

.user__name {
  text-decoration: none;
  font-size: 1.6rem;
  color: #000;
  overflow: wrap;
  margin: 0;
}

