/*
    yellow: FAFF00

*/

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 1.8rem;
    font-weight: normal;
}

h3 {
    font-size: 1.6rem;
}

p, li, a, span, div {
    font-size: 1.3rem;
}

#logo {
    width: 30px;
    height: 30px;
}

/* NAVBAR */

.main-navbar {
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FAFF00;
    padding: 1rem 10%;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand a {
    margin-left: 1rem;
    color: #FAFF00;
    text-decoration: none;
    font-weight: bold;
    font-size: 2.4rem;
}

.navigation {
    display: flex;
    align-items: stretch;
    list-style: none;
    padding: 0;
}

.navigation .icon {
    width: 20px;
    height: 20px;
}

.navigation li {
    margin-right: 2rem;
}

.navigation li:last-child {
    margin-right: 0;
}

.navigation a {
    font-size: 1rem;
    color: #FAFF00;
    text-decoration: none;
    font-weight: 500;
}

.navigation .cta {
    background: #FAFF00;
    padding: 0.8rem 1.5rem;
    color: #000;
    font-weight: bold;
}

/* TRACKS */

.container {
    padding: 0 10%;
}

.tracks-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    grid-gap: 30px;
}

.track {
    position: relative;
    margin: 5px;
    background: #555;
    padding-bottom: 100%;
    width: 100%;
}

.track-overlay {
    display: none;
    position: absolute;
    top: 0;right:0;bottom:0;left:0;
    background: rgba(0, 0, 0,0.5);
}

.track-description {
    text-align: center;
}

.track-title {
    font-size: 2.4rem;
    color: #fff;
    font-weight: bold;
}

.track-author {
    font-size: 1.6rem;
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: normal;
}

/* AUDIO CONTROLLER */

#audio-player {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

/* NewTrack form */

.form-row {
    margin-bottom: 1rem;
}

label {
    font-weight: bold;
}

label, input {
    display: block;
    font-size: 1.2rem;
}

label {
    margin-bottom: .5rem;
}

input[type="text"] {
    padding: .5rem;
}

footer {
    background: #333;
    font-size: 1.2rem;
    color: #fff;
    margin-top: 5rem;
    padding-top: 1rem;
    padding-bottom: 4rem;
}
