/*
    yellow: FFD600

*/

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 1.8rem;
    font-weight: normal;
}

h3 {
    font-size: 1.6rem;
}

p, li, a, span, div {
    font-size: 1.3rem;
}

#logo {
    width: 30px;
    height: 30px;
}

/* NAVBAR */

.main-navbar {
    background: #FFD600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 2.4rem;
}

.navigation {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 1rem 0;
}

.nav-icon {
    display: flex;
    align-items: center;
}

.navigation .icon {
    width: 20px;
    height: 20px;
}

.navigation li {
    margin-right: 2rem;
}

.navigation li:nth-child(4) {
    margin-right: 0;
}

.navigation a {
    font-size: 1rem;
    color: #000;
    text-decoration: none;
    font-weight: 500;
}

.navigation .cta {
    background: #000;
    padding: 0.8rem 1.5rem;
    color: #FFD600;
    font-weight: bold;
}

/* TRACKS */

.container {
    padding: 0 10%;
}

.tracks-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 18vw;
    grid-gap: 2.5rem;
    align-content: center;
}

.track {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border: 1px solid #FFD600;
    cursor: pointer;
}

.track img {
    position: absolute;
    top:0;bottom:0;left:0;right:0;
    z-index: 0;
}

.track-overlay {
    position: absolute;
    top:0;bottom:0;left:0;right:0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.track-description {
    text-align: center;
    z-index: 2;
}

.track-title {
    font-size: 2.4rem;
    color: #fff;
    font-weight: bold;
}

.track-author {
    font-size: 1.6rem;
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: normal;
}

/* AUDIO CONTROLLER */

#audio-player {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

/* NewTrack form */

.form-row {
    margin-bottom: 1rem;
}

label {
    font-weight: bold;
}

label, input {
    display: block;
    font-size: 1.2rem;
}

label {
    margin-bottom: .5rem;
}

input[type="text"] {
    padding: .5rem;
}

footer {
    background: #333;
    font-size: 1.2rem;
    color: #fff;
    margin-top: 5rem;
    padding-top: 1rem;
    padding-bottom: 4rem;
}

/* SEARCHBAR */

.searchBar {
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin: 5rem 0;
}

.searchBar .icon {
    width: 30px;
    height: 30px;
}

.searchBar input {
    display: block;
    width: 100%;
    margin-left: 1rem;
    border: none;
    border-bottom: 1px solid #FFD600;
    background: #000;
    color: #fff;
}

/* FOOTER */

footer {
    background: #FFD600;
    display: flex;
    align-items: center;
    padding: 2rem 10%;
    padding-bottom: 5rem;
    color: #000;
}
